// Define variables for your color scheme

// For example:
$egyptianblue: #0A369D;
$hanblue: #4472CA;
$glaucous: #5E7CE2;
$frenchskyblue: #92B4F4;
$beaublue: #CDFEE7;


$ourdarkblue: #00044A;
$ourblue: #043CE6;
$ourmediumblue: #0286FF;
$ourlightblue: #01FFFB;
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$bluepalette: #028090;
$greenpalette: #02C39A;
