<div class="logopage">
  <%= link_to root_path do %>
  <%= image_tag "logo_page.svg", class: "logo-page" %>
  <% end %>
</div>

<h1>Favorites#index</h1>
<p>Find me in app/views/favorites/index.html.erb</p>
