
.associations-message{
padding: 8px;
text-align: center;
color: white;
}
// .card-association {
//   overflow: hidden;
//   height: 120px;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   display: flex;
//   align-items: center;
//   padding: 8px;
//   border-radius: 4px;
//   margin: 10px;
//   position: relative;
// }

// .card-img-asso {
//   height: 100%;
//   width: 120px;
//   border-radius: 4px;
// }

// .card-association h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .card-association p {
//   font-size: 12px;
//   line-height: 1.4;
//   opacity: .7;
//   margin-bottom: 0;
// }

// .card-association .card-association-infos {
//   padding: 16px;
// }

.btn-ghost {
  position: absolute;
  // top: 7px;
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 4px 8px;
  border-radius: 50px;
  font-weight: lighter;
  font-size: 10px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  bottom: 0;
  right: 3px;
  background: white;
}


.card-association {
  margin: 8px;
  overflow: hidden;
  border-radius: 5px;
  width: 350px;
  height: 100px;
  background: white;
  box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}


  .card-img-asso {
    height: 100%;
    width: 130px;
  }

  .card-img img{
    height: 100%;
    object-fit: cover;
  }
  .card-association-infos {
    height: 100%;
    width: 100%;
    position: relative;
    // padding-top: 18px;
    background-color: #f4f6ff;
    text-align: center;
    // padding: 16px;
    // h2 {
    //   font-size: 12px;
    //   font-weight: bold;
    //   margin: 0;
    //   text-align: center;
    //   // width: 65%;
  }

  .card-association-infos > h5 {
    font-size: 15px;
    padding-top: 5px;
    font-weight: bold;
  }

  .card-association-infos > p {
    font-size: 11px;
    padding: 5px;
  }