// Specific CSS for your home-page
.home_video {
 width: 100vw;
 height: 380px;
 position: absolute;
 display: flex;
 justify-content: center;
 object-fit: cover;
 top: 0;
 z-index: -2;
}

.title {
  color: white;
  font-size: 27px;
  margin: 13px;
}
.container {
  margin-bottom: 50px;
}

h2 {
  padding-bottom: 7px;
  padding-top: 7px;
}

.search-bar {
  margin-top: 29px;
}

.form-control {
  border-radius: 20px;
}

.btn {
  position: absolute;
  right: 15px;
  top: 358px;
  border-radius: 20px;
}
.logo{
  margin-top: 78px;
}

body {
  background: -o-linear-gradient(30deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
  background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
}
