// Specific CSS for your home-page
.home_video {
 width: 100vw;
 height: 50%;
 position: absolute;
 display: flex;
 justify-content: center;
 object-fit: cover;
 top: 0;
 z-index: -2;
}

.search-bar {
  margin-top: 540px;
}