// Specific CSS for your home-page
.home_image {
  width: 100vw;
  z-index: -2;
  height: auto;
  position: absolute;
  display: flex;
  justify-content: center;
  object-fit: cover;
  top: 0;
}


.title {
  color: white;
  font-size: 27px;
  margin: 13px;
  font-family: 'Varela Round', sans-serif;
}
.container {
  margin-bottom: 50px;
  min-height: 80vh;
  margin-top: 10px;
}

h2 {
  padding-bottom: 7px;
  padding-top: 7px;
}
.search-bar {
  margin-top: 29px;
}

.form-control {
  border-radius: 20px;
}


form {
  display: flex ;
}

.logo{  
  width: 330px;
}

.logohome {
  margin-top: 635px;
}
body {
  background: -o-linear-gradient(30deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
  // background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
  background: linear-gradient(360deg, #055b80 4%, #065b80 48%);  margin: 0;
  min-height: 100vh;
}

.card-explore {
  width: 60%;
  border-radius: 5px;
  box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 30vh;
}
.container-full-height{
  min-height: calc(100vh - 227px);
}

.explore-card{
  margin-top: 37px;
}
.result-title{
  color: white;
}

.title{
  color: white;
  font-size: 27px;
  margin: 13px;
  font-family: 'Varela Round', sans-serif;
}



@media screen and (max-width: 968px) {
  .card-explore {
    width: 90%;
  }

  .logo{  
    width: 292px;
  }
  
  .logohome {
    margin-top: 270px;
  }

  .card-explore {
    margin-bottom: 5vh;
  }
}

@media screen and (max-width: 430px) {

  .logo{  
    width: 251px;
  }
  
  .logohome {
    margin-top: 125px;
  }

  .card-explore {
    margin-bottom: 5vh;
  }
}
