<section>
  <div class="wave wave1"></div>
  <div class="wave wave2"></div>
  <div class="wave wave3"></div>
  <div class="wave wave4"></div>
</section>

<div class="footer d-flex text-center">
  <div class="footer-links">
<!--     <a href="https://github.com/srouchon/ocean_eyes"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a> -->
  </div>
  <div class="footer-copyright">
    This prototype website is made with <i class="fas fa-heart"></i> by Sophie, Vic, Deva and Ophélie.
  </div>
</div>
