	<header>
		<nav>
			<ul class="nav-menu">
				<li>
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">About</a>
				</li>
				<li>
					<a href="#">Work</a>
				</li>
				<li>
					<a href="#">Project</a>
				</li>

    <%= render 'shared/searchbar' %>
    <%= render 'shared/sign-in-out' %>

			</ul>
			<div class="menu-btn">
				<div class="toggle-btn">
					<div class="line1"></div>
					<div class="line2"></div>
					<div class="line3"></div>
				</div>
			</div>

		</nav>
	</header>


