<header>
	<nav>
    <ul class="nav-menu">
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <%= link_to "Favorites", favorites_path %>
      </li>
      <li>
        <%= link_to "Know more about us", aboutus_path %>
      </li>
      <li>
        <%= link_to "Marine Life associations", associations_path %>
      </li>
      <li>
       <a href="#">Augmented Reality (Beta-Test)</a>
      </li>
    </ul>
    
    <div class="menu-btn">
      <div class="toggle-btn">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </div>
  </nav>
</header>