<h2>Protecting animals</h2>

<div class="flip-card">
  <div class="flip-card-front">
    <%= image_tag "MBA.jpg", alt: "Marine Biological Association logo", style: "width:100px;height:100px;"%>
    <!-- <img src="../assets/images/MBA.jpg" alt="Marine Biological Association logo" style="width:100px;height:100px;"> -->
  </div>
  <div class="flip-card-back">
    <p>The Marine Biological Association conducts, promotes and supports scientific research into all aspects of life in the sea. We're working with our ever-growing membership to provide a clear and independent voice on behalf of the marine biological community</p>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>

