<div>
  <%= video_tag "Jellyfish.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>

</div>

<div class="container text-center">
  <%= render 'shared/searchbar' %>
  <h1>Suggestion</h1>
</div>


    <%= render 'shared/footer' %>