<div>
  <%= video_tag "Jellyfish.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
</div>

  <%= image_tag "logo.svg", class: "logo" %>


<div class="container text-center">
  <%= render 'shared/searchbar' %>
  <h2>Suggestions</h2>
</div>


    <%= render 'shared/footer' %>