<div class="arjs-loader">
  <div>Loading, please wait...</div>
</div>

<a-scene embedded arjs='trackingMethod: best;'>

  <a-assets>
    <a-asset-item id="model" src="BarramundiFish.gltf" crossOrigin="anonymous"></a-asset-item>
  </a-assets>

  <a-gltf-model src="#model" position="0 0 0" scale="0.1 0.1 0.1"></a-gltf-model>
  <a-marker-camera preset='hiro'></a-marker-camera>
  <a-camera-static/>
</a-scene>
