.arjs-loader {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arjs-loader div {
  text-align: center;
  font-size: 1.25em;
  color: white;
}

.ar-container {
  position: relative;
  width: 1vh;
  z-index: 0;
}

video {
  z-index:100;
  // width: 0.5vh;
  position: relative;
}

.ar-quit-button {
  size:20px;
  position: fixed;
  top:0;
  text-align: center;
  right:51%;
  margin-top: 2%;
  border-radius: 50%;
  padding: 6px;
}

.fas {
  font-size: 48px;
  color: white;
}

.btn-3d {
  width: 44px;
  position: relative;
  left: 146px;
  top: 22px;
}

.hiro {
  width: 30px;
}

.barramundi {
  // height: 120px;
  width: 134px;
}

.titre3d {
  margin: -1px;
  font-size: 20px;
  font-weight: bold;
  bottom: 14px;
  position: relative;
}

.i3d {
  font-size: 12px;
  position: relative;
  bottom: 15px;
}



.card-animal > img {
  width: 134px;
  height: 100%;
}

h1 {
  color: white;
}

.p-ar {
  color: white;
}