.h2-about {
  font-size: 16px;
  color: white;
  text-align: center;
  padding-bottom: 30px;
}

.card-animal {
  margin: 8px;
  overflow: hidden;
  border-radius: 5px;
  width: 350px;
  height: 100px;
  background: white;
  box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}



a > .card-animal {

  .card-img {
  height: 120px;
  width: 135px;
  }

  .card-img img{
    height: 100%;
    object-fit: cover;
  }
  .card-animal-infos {
    height: 100%;
    width: 100%;
    padding-top: 18px;
    background-color: #f4f6ff;
    text-align: center;
    // padding: 16px;
    h3 {
      font-size: 20px;
      font-weight: bold;
      margin: 0;
      text-align: center;
      // width: 65%;
    }
    h4 {
    font-size: 12px;
    text-align: center;
    }
  }
}
