.card-animal {
  margin: 8px;
  overflow: hidden;
  border-radius: 5px;
  width: 350px;
  height: 100px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

a > .card-animal {

  .card-img {
  height: 120px;
  width: 135px;
  }

  .card-img img{
    height: 100%;
    object-fit: cover;
  }
  .card-animal-infos {
    width: 65%;
    height: 100%;
    padding-top: 9%;
    background-color: #f4f6ff;
    text-align: center;
    // padding: 16px;
    h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    }
    h4 {
    font-size: 12px;
    text-align: center;
    }
  }
}

// .card-animal h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .card-animal h4 {
//   font-size: 12px;
// }
// .card-animal .card-animal-infos {
//   padding: 16px;
// }
